# Ignore Visual Studio Code settings directory
.vscode/

# Ignore Python cache directories
__pycache__/
*.py[cod]

#Ignore mangas
mangas/
# ignore zips y mangas.zip
*.zip
mangas.zip

# Ignore environment files
.env
*.env

# Ignore log files and temporary files
*.log
*.tmp

# Ignore compiled code and packages
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ignore dielo problems
util/__pycache__/list_of_services.cpython-312.pyc
util/__pycache__/color.cpython-312.pyc
