<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <title>Bienvenido a la biblioteca de manga virtual</title>
</head>
<body>
    <nav>
        <ul>
            <li><form action="/admin"><button type="submit">Inicio</button></form></li>
            
            <li><button type="button" onclick="document.getElementById('uploadModal').style.display='block'">Subir Manga</button></li>
            <li><form action="/editarmanga"><button type="submit">Editar manga</button></form></li>
            <li><form action="/sales"><button type="submit">Ventas</button></form></li>
            <li><button type="button" onclick="document.getElementById('checkSalesModal').style.display='block'">Comprobar Venta</button></li>
            
            <li><form action="/notificar"><button type="submit">Notificar contenido destacado</button></form></li>
            <li>
                <form action="/logout"><button type="submit">Cerrar sesión</button></form>
              </li>
        </ul>
    </nav>
    <br>
    <h2>Todos los Mangas</h2>
    <div class="sales-container">
        <div class="sales-item">
            <h3>Ventas diarias</h3>
            <p>{{ daily_sales }}</p>
        </div>
        <div class="sales-item">
            <h3>Ventas mensuales</h3>
            <p>{{ monthly_sales }}</p>
        </div>
        <div class="sales-item">
            <h3>Ventas anuales</h3>
            <p>{{ yearly_sales }}</p>
        </div>
        <div class="sales-item">
            <h3>Manga más vendido</h3>
            <p>{{ most_sold }}</p>
        </div>
        <!-- <div class="sales-item">
            <h3>Ventas mangas eliminados</h3>
            <p>{{ erased_mangas }}</p>
        </div> -->
    </div>
    <div id="highlightContent" class="grid-container">
        {% for manga in mangas %}
            <div class="grid-item">
                <h3>{{ manga.name }}</h3>
                <p>{{ manga.promo }}</p>
                <img src="{{ url_for('static', filename='images/' + manga.image) }}" alt="{{ manga.name }} cover">
            </div>
        {% endfor %}
    </div>

    <!-- Upload Modal -->
    <div id="uploadModal" class="modal">
        <form class="modal-content" action="/upload" method="post" enctype="multipart/form-data">
            <h1>Subir Manga</h1>
            <input type="file" id="file" name="file" required>
            <input type="text" id="text" name="genre" placeholder="Genre" required>
            <button type="submit">Submit</button>
            <button type="button" onclick="document.getElementById('uploadModal').style.display='none'">Close</button>
        </form>
    </div>

<!-- Check Sales Modal -->
<div id="checkSalesModal" class="modal">
    <div class="modal-content">
        <h1>Comprobar Venta</h1>
        <input type="text" id="username" name="username" placeholder="Nombre de usuario" required>
        <input type="number" id="salesNumber" name="salesNumber" placeholder="Número de venta" required>
        <button type="button" onclick="consultarVenta()">Consultar Venta</button>
        <button type="button" onclick="confirmarRetiro()">Confirmar Retiro</button>
        <button type="button" onclick="document.getElementById('checkSalesModal').style.display='none'">Cerrar</button>
        <p id="resultMessage"></p>
    </div>
</div>

<script>
    // Script to handle modal display
    window.onclick = function(event) {
        var checkSalesModal = document.getElementById('checkSalesModal');
        if (event.target == checkSalesModal) {
            checkSalesModal.style.display = "none";
        }
    }

    function consultarVenta() {
    const salesNumber = document.getElementById('salesNumber').value;
    const username = document.getElementById('username').value;
    console.log('Consultando venta:', salesNumber, 'para el usuario:', username);

    fetch('/checksales', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: new URLSearchParams({
            'salesNumber': salesNumber,
            'username': username
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            document.getElementById('resultMessage').innerText = data.message;
        } else {
            document.getElementById('resultMessage').innerText = 'Error al consultar la venta';
        }
    })
    .catch(error => {
        console.error('Error:', error);
        document.getElementById('resultMessage').innerText = 'Error al consultar la venta';
    });
}

function confirmarRetiro() {
    const salesNumber = document.getElementById('salesNumber').value;
    const username = document.getElementById('username').value;
    console.log('Confirmando retiro:', salesNumber, 'para el usuario:', username);

    fetch('/confirmsale', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: new URLSearchParams({
            'salesNumber': salesNumber,
            'username': username
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            document.getElementById('resultMessage').innerText = data.message;
        } else {
            document.getElementById('resultMessage').innerText = 'Error al confirmar el retiro';
        }
    })
    .catch(error => {
        console.error('Error:', error);
        document.getElementById('resultMessage').innerText = 'Error al confirmar el retiro';
    });
}
</script>
</body>
</html>