<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <tittle>Bienvenido a la biblioteca de manga virtual</tittle>
</head>
<body>
    <nav>
        <ul>
            <form action="/deseados"><li><button type="submit">Lista de Deseados</button></li></form>
            <form action="/home"><li><button type="submit">Home</button></li></form>
        </ul>
    </nav>
    <br>
    <h2>Catálogo de mangas</h2>
    <br>
    <form action="/buscar-mangas" method="get">
        <label for="busqueda">Buscar manga:</label>
        <input type="text" id="busqueda-mangas" name="busqueda-mangas" required>
        <button type="submit">Buscar</button>
    </form>
    <br>  
    <form action="/destacados" method="get">
        <div id="highlightContent">
            {% for item in mangas %}
                <li>{{ item }}</li>
            {% endfor %}
            <!-- Add your highlight content here in a 3x3 grid -->
        </div>
    </form>
</body>
</html>