<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <tittle>Bienvenido a la biblioteca de manga virtual</tittle>
</head>
<body>
    <nav>
        <ul>
            <form action="/deseados"><li><button type="submit">Lista de Deseados</button></li></form>
            <form action="/catalogo"><li><button type="submit">Catálogo de mangas</button></li></form>
            <form action="/logout"><li><button type="submit">Cerrar sesión</button></li></form>
        </ul>
    </nav>
    <br>
    <h2>Destacados</h2>
    <form action="/destacados" method="get">
        <div id="highlightContent">
            {% for item in featured_content %}
                <li>{{ item }}</li>
            {% endfor %}
            <!-- Add your highlight content here in a 3x3 grid -->
        </div>
    </form>
</body>
</html>