<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <title>Bienvenido a la biblioteca de manga virtual</title>
</head>
<body>
    <nav>
        <ul>
            <li><form action="/deseados"><button type="submit">Lista de Deseados</button></form></li>
            <li><form action="/catalogo"><button type="submit">Catálogo de mangas</button></form></li>
            <li><form action="/logout"><button type="submit">Cerrar sesión</button></form></li>
        </ul>
    </nav>
    <br>
    <h2>Destacados</h2>
    <form action="/destacados" method="get">
        <div id="highlightContent" class="grid-container">
            {% for manga in mangas %}
                <div class="grid-item">
                    <h3>{{ manga.name }}</h3>
                    <p>{{ manga.promo }}</p>
                    <img src="{{ url_for('static', filename='images/' + manga.image) }}" alt="{{ manga.name }} cover">
                </div>
            {% endfor %}
        </div>
    </form>
</body>
</html>
