<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loggin.css') }}">
    <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}"-->
    <title>Bienvenido</title>
</head>
<body>
    <h1>Biblioteca Virtual de Manga</h1>
    <br>
    <h2>Inicie sesión</h2>
    <div class="login">
        <form action="/login" method="post">
            <br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <button id="loggin" type="submit">Enviar</button>
        </form>
        <br>
        <form action="/registrarse">
            <button id="register" type="submit">Registrarse</button>
        </form>
    </div>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>
