<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/manga_page.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>{{ manga_info.title}}</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div id="main-container">
      <div id="manga-card">
        <img src="{{ manga_info.image }}" id="manga-image" alt="{{ manga_info.title }}" />
        <div id="manga-info">
          <div id="manga-meta">
            <h1 id="title">{{ manga_info.title}}</h1>
            <hr />
            <h5 id="publication_status">{{ manga_info.publication_status}}</h5>
            <h5 id="genre">{{ manga_info.genre}}</h5>
            <h5 id="price">${{ manga_info.price}}</h5>
          </div>
          
          <hr/>
          <a href="{{ url_for('serve_manga', filename=manga_info.title + '.pdf') }}" download>
            <button id="download-button" class="btn btn-dark">Descargar</button>
          </a>

          <hr>
          <div id="add-review">
            <h3>Agregar una reseña</h3>
            <form method="post" action="{{ url_for('add_review', manga_id=manga_info.id) }}">
              <div class="mb-3">
                <textarea class="form-control" name="review_text" placeholder="Escribe tu reseña aquí..." required></textarea>
              </div>
              <div class="mb-3">
                <label for="rating">Valoración (1-5):</label>
                <select class="form-select" name="rating" id="rating" required>
                  {% for i in range(1, 6) %}
                    <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Enviar Reseña</button>
            </form>
          </div>
          
          <hr>
          <div id="reviewContainer">
            {% if reviews %}
            <!-- Loop through all reviews -->
            <div class="review">
              <h3>Reseñas</h3>
              <hr>
              {% for review in reviews %}
              <div class="review-content">
                <p><strong>User:</strong> {{ review.user }}</p>
                <p><strong>Review:</strong> {{ review.review_text }}</p>
                <p><strong>Rating:</strong> {{ review.rating }}</p>
              </div>
              <hr> <!-- Optional: Add a separator between reviews -->
              {% endfor %}
            </div>
            {% endif %}
          </div>
        
               
        </div>
      </div>
    </div>

    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
